*.pyc
__pycache__
*.egg-info
*.zip
/samples/*
!/samples/fundus
/samples/fundus/*
!/samples/fundus/meta.csv
!/samples/fundus/fovea.csv
!/samples/fundus/av
!/samples/fundus/av/**
!/samples/fundus/discs
!/samples/fundus/discs/**
!/samples/fundus/rgb
!/samples/fundus/rgb/**
!/samples/fundus/vessels
!/samples/fundus/vessels/**
!/samples/figures
!/samples/fundus/original
/paper/
/dist/